{% extends "base.html" %}

{% block title %}Login to your account{% endblock %}

{% block content %}
	
	{% if user.is_authenticated %}
	   <h1 style="text-align: center; ">You are logged in!</h1> 
	{% else %}

    <form action="/login/" id="login" class="container" style="background-color: #FFFFFF; max-width: 450px; border-radius: 8px; padding-top: 15px;"  method="post">{% csrf_token %}
	    	<div style="max-width: 300px; margin: 0 auto;">
	    	    <a href="/home/" class="btn btn-success btn-lg btn-block">Try Demo</a>
	    	</div>
            <div style="text-align: center; margin: 10px 0;">
                <strong>OR</strong>
            </div>
	    	<h1 style="text-align: center">Login to Your Account</h1>
    	<div class="form-group container" style="max-width: 300px;">
    		{{form.as_p}}
    		<button type="submit" class="btn btn-primary">Login</button>
    		<a href="/registration/" type="button" class="btn btn-default pull-right"> Create an account</a>
    	</div><br>
	</form>
    <script type="text/javascript">document.forms.login.id_username.focus();</script>
	
    <br>

    {% endif %}

{% endblock %}
