{% extends "base.html" %}
{% block content %}
<div class="container" style="background-color: #FFFFFF; border-radius: 10px; " >

	 <h1 class="page-header" style="text-align: center">Shed Directory - ZIP Code: {{ zipCode }}
	 {% if not hasShed %}
	 <a type='button' class='btn btn-primary pull-right' href="/sharecenter/createshed" style="margin-right: 10px;">Create A Shed</a>
	 {% endif %}
	 </h1>
	 
	 
	 
	<table class="table table-hover bordered " style="table-layout: fixed; word-wrap: break-word; ">
	
	<thead>
		<tr>
	    	<th style="min-width: 60px">Shed</th>
	    	<th style="min-width: 240px">Address</th>
	    	<th style="min-width: 60px">Owner</th>
	    	<th style="width: 120px"></th>
		</tr>
	</thead>
	
	<tbody>
		{% for s in sheds %}
		<tr>
			<td>{{ s.owner.user.username }}'s Shed</td>
		    
		    <td>{{ s.address }}</td>
		    <td><a href='/sharecenter/user/{{ s.owner.user.username }}'>{{ s.owner.user.username }}</a></td>
		    <td><a href='/sharecenter/shed/{{s.owner.user.username}}' type="button" class="btn btn-default">More Info</a></td>
		</tr> 
		{% endfor %}	
	</tbody>
	
	</table>
	{% if page_obj and page_obj.paginator.num_pages > 1 %}
	<nav style="text-align: center; margin-bottom: 15px;">
	  <ul class="pagination" style="margin: 0;">
	    {% if page_obj.has_previous %}
	      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
	    {% else %}
	      <li class="disabled"><span>&laquo;</span></li>
	    {% endif %}

	    <li class="active"><span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>

	    {% if page_obj.has_next %}
	      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
	    {% else %}
	      <li class="disabled"><span>&raquo;</span></li>
	    {% endif %}
	  </ul>
	</nav>
	{% endif %}
	{% if numSheds == 0 %}
       <h4 style="text-align: center">No Sheds</h4><br>
    {% endif %}  
</div>

{% endblock %}
