{% extends "base.html" %}
{% block content %}
<div class="container" style="background-color: #FFFFFF; border-radius: 10px; " >
    
	 <h1 class="page-header" style="text-align: center;">User Directory - ZIP Code: {{ zipCode }}</h1>
	 <!--<div class="container" style="background-color: #FFFFFF; border-radius: 10px; padding: 0px; margin-bottom: -20px">
	 <form class="form-inline pull-left" role='form' action="/userdirectory/" method="post">{% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                
                <label class="sr-only" for="exampleInputPassword2">Password</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-default">Filter</button>
     </form>
     <a type='button' class='btn btn-primary pull-right' href="/sharecenter/addtool" style="margin-right: 10px;">Add Tool</a>
     {% if not hasShed %}
     <a type='button' class='btn btn-primary pull-right' href="/sharecenter/createshed" style="margin-right: 10px;">Create A Shed</a>
     {% endif %}
     </div>-->
	 
	 <table class="table table-hover bordered " style="table-layout: fixed; word-wrap: break-word; ">
	
	<thead>
		<tr>
	    	<th style="min-width: 60px">Name</th>
	    	<th style="min-width: 220px">Username</th>
	    	<th style="min-width: 220px">Email</th>
	    	<th style="min-width: 60px">Times Borrowed</th>
	    	<th style="min-width: 60px">Times Lent</th>
	    	<th style="width: 120px"></th>
	    	<th style="width: 120px"></th>	
		</tr>
	</thead>
	
	<tbody>
		{% for u in allUsers %}
		<tr>
		    <td>{{ u.user.first_name }} {{ u.user.last_name }}</td>
		    <td>{{ u.user.username }}</td>
		    <td>{{ u.user.email }}</td>
		    <td>{{ u.timesBorrowed }}</td>
		    <td>{{ u.timesLent }}</td>
		    <td><a href='/messagecenter/sendMessage/{{ u.user.id }}/' type="button" class="btn btn-primary pull-right" rel=tooltip title="Message User" data-placement="left" aria-hidden="true"><span class="glyphicon glyphicon-envelope"></span></a></td>
		    <td><a href='/sharecenter/user/{{ u.user.username }}/' type="button" class="btn btn-default">More Info</a></td>
		</tr> 
		{% endfor %}	
	</tbody>
	
	</table>
	{% if page_obj and page_obj.paginator.num_pages > 1 %}
	<nav style="text-align: center; margin-bottom: 15px;">
	  <ul class="pagination" style="margin: 0;">
	    {% if page_obj.has_previous %}
	      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
	    {% else %}
	      <li class="disabled"><span>&laquo;</span></li>
	    {% endif %}

	    <li class="active"><span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>

	    {% if page_obj.has_next %}
	      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
	    {% else %}
	      <li class="disabled"><span>&raquo;</span></li>
	    {% endif %}
	  </ul>
	</nav>
	{% endif %}
	{% if numUsers == 0 %}
       <h4 style="text-align: center">No Users</h4><br>
    {% endif %}  
</div>

{% endblock %}
